* {
  margin: auto;
  background-color: rgb(158, 169, 180);
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.header{
  width: 100%;
}

.title{
  text-align:left;
  color: rgb(250, 219, 119);
  font-size: 55px;
  background-color: inherit;
}

#logo{
  float:left;
  margin-left:40px;
}

#menu li{
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  padding-left:10px;
  color: rgb(250, 219, 119);
}

.nav-bar{
  padding-top: 20px;
  background-color:rgb(25, 37, 48);
  height: 140px;
}

a:visited, a:link, a:active{
  text-decoration: none;
}

a:hover{
  color:white;
}

.menu-option{
  font-size: 28px;
  border-right: 1px solid;
  background-color: inherit;
}

.menu-align{
  margin-top:25px;
  float:right;
  background-color: inherit;
  padding-right:60px;
}

.last{
  border-right: none;
}

.menu-ul{
  margin-block-start: 0px;
  padding:20px;
  background-color: inherit;
}

.row{
  margin-top: 50px;
  color:white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input{
  color: white;
  background-color:inherit;
  text-align: left;
  text-indent: 15px;
}

.contact-form {
  width: 100%;
  height: 450px;
}

.image-label{
  cursor: pointer;
  left:0;
  z-index: 1;
  position: absolute;
  left: 10px;
  top:5px;
}

.image-upload-line{
  width: 360px;
  position: absolute;
  background-color: inherit;
}

.input-field {
  color: white;
  border-color: white;
  height: 42px;
  width:66%;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  margin-bottom: 15px;
  font-size: 18px;
}

.contact-input-title{
  background-color:inherit;
  width: 28%;
  text-align: left;
  font-size:18px;
}

.contact-input{
  height: 250px;
  background-color:rgb(64, 98, 126);
  width:480px;
  text-align: center;
  color: white;
  margin: 30px;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  border-radius: 8px;
  padding-top:15px;
}

.contact-btn {
  margin-top:60px;
  height: 30px;
  width: 110px;
  color: black;
  border: 0;
  background-color:#cfcdcd;
  border-radius: 3px;
  font-size: 17px;
}

input[type="file"] {
  background-color:inherit;
  color: white;
  font-size:18px;
  outline: none;
  cursor: pointer;
  text-indent: -105px;
  margin-left:50px;
  width:400px;
}

h2,h4{
  text-align:left;
}

.userImages{
  color: white;
  margin-top:70px;
  margin-bottom:50px;
  width: 550px;
  text-align:left;

}

hr {
  border-top: 1px solid rgb(250, 219, 119);
}

.userName{
  margin-bottom: 15px;
}

img{
  margin-left: auto;
  margin-right: auto;
  width:  auto;
  height: 300px;
}

/*
.footer{
  bottom: 30px;
  left:30px;
  position:absolute;
}

.footer-icon{
  margin-left:10px;
  margin-right:10px;
  font-size: 25px;
  color:#5bace8;
}

.copyright-footer{
  vertical-align: top;
  margin-left:10px;
  display: inline-block;
}

a{
  color: inherit;
}
*/

@media only screen and (min-width: 320px) and (max-width: 425px) {
  /*.contact-form {
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;
    width: 100%;
  }*/

  .userImages{
    color:#f6f6f6;
    margin-top:300px;
    margin-bottom:50px;
    padding:15px;
    width: 400px;
    text-align:left;
  
  }
}

